html, body {
  height: 100%;
  margin: 0; /* Elimina los márgenes por defecto */
  padding: 0; /* Elimina el padding por defecto */
  overflow: hidden; /* Opcional: evita cualquier desbordamiento */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  background: linear-gradient(0deg, rgba(25, 0, 255, 0.24) 0%, rgba(25, 0, 255, 0.24) 100%),
              url('../../assets/AdobeStock_334050717.jpeg') lightgray 50% / cover no-repeat;
  margin: 0; /* Elimina márgenes innecesarios del contenedor */
}

