.crearReserva-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.crearReserva-title{
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.crearReserva-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.crearReserva-form input,select{
    margin: 0.4rem 0;
    width: 100%;
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
}

.crearReserva-form input,select::placeholder {
  color: #000;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.crearReserva-form button{
    background-color: #e9d5ff; /* tailwind's purple-200 */
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 4px 10px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.crearReserva-form button:hover{
    background-color: #5dc79e; /* Green */
    color: rgb(0, 0, 0);
}

.crearReserva-form input,select:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05); /* Un ligero tinte para filas pares */
}
.crearReserva-form input,select:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0); /* Transparente para filas impares */
}